<div ng-controller="advancedInAppBrowser" class="module advancedInAppBrowser">
  <div class="loaderContainer" ng-if="isBusy">
    <div class='transitionloader'></div>
  </div>
  <div ng-if="showIframe">
    <iframe hide-onload id="iframetest" type="text/html" allowfullscreen="" ng-src="{{url}}" frameborder="0" width="100%" height="100%" style="position:absolute"></iframe>
    <div class='iframeLoading embedLoading'>
      <div class='transitionloader'>
      </div>
    </div>
  </div>
</div>
